body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

header {
    padding: 20px;
    background: #333;
    color: white;
    border-bottom: #6B72E1 3px solid;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 20px auto;
}

.about-me, .projects, .skills .project {
    padding: 20px;
    margin: 20px 0;
    background: white; /* Consistent white background for sections */
    box-shadow: 0px 0px 10px #ccc; /* Optional: adds shadow for better visibility */
}

.school-link, .project-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.school-link:hover, .project-link:hover {
    background: #6B72E1;
    color: #fff;
    text-decoration: underline;
}

.skill {
    width: 100%; /* Set the width of the skill container */
    margin-bottom: 20px; /* Spacing between skills */
}

.skill-bar {
    height: 10px; /* Height of the skill bar */
    background-color: #ddd; /* Light grey for unfilled portion */
    margin-top: 5px; /* Space between the label and the bar */
    border-radius: 5px; /* Rounded corners */
    position: relative; /* Needed to position the filled part absolutely */
}

.skill-bar > .filled {
    height: 100%; /* Fill the height of the container */
    background-color: #5d5d5d; /* Dark grey for filled portion */
    position: absolute; /* Position absolutely within the parent */
    border-radius: 5px; /* Rounded corners for aesthetics */
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

@media (max-width: 700px) {
    .container, .about-me, .projects {
        padding-left: 20px;
        padding-right: 20px;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    header h1, header p {
        font-size: smaller;
    }
}
